*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-a: #001D62;
    --color-b: #F9FAFB;
    --color-c: #E3E8EF;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
