*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-a: #001D62;
    --color-b: #F9FAFB;
    --color-c: #E3E8EF;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

/* header section */

header{
    background-color: var(--color-a);
    
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 2.75em 8em;
}

header .navbar .navContent1{
    display: flex;
    align-items: center;
}

header .navContent1 .logo{
    display: flex;
}

header .navbar .menu{
    margin-left: 2.75em;
}

header .navbar .menu ul{
    display: flex;
    align-items: center;
    flex-direction: row;
} 

header .navbar .menu li{
    list-style: none;
    padding: 3em;
    
} 

header .navbar .menu li a{
   text-decoration: none;
   color: white;
   cursor: pointer;
   
} 

header .navbar .menu li span{
    color:#027A48;
    font-weight: 600;
    margin-left: 0.5em;
    background-color: #ECFDF3;
    border-radius: 1em;
    padding: 0.125em 0.5em;
 } 


 header .navContent2 .talkToUs{
    color:black;
    border-radius: 62.5em;
    font-weight: 500;
    background-color: white;
    padding: 0.625em 1.5em;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;

 }

 /* Header content Info */

 .contentInfo{
    padding: 7.5em 8em;
    color:white;
 }

 .contentInfo .contentInfoText h2{
    font-size: 4.5em;
    font-weight: 600;
    padding-right: 3em;
 }

 .contentInfo .contentInfoText p{
    font-size: 2em;
    font-weight: 400;
    padding-right: 5em;
    margin-top: 0.5em; 
    line-height: 1.5em;
 }

 .contentInfo .contentInfoVideo{
    margin-top: 4em;
    cursor: pointer;
 }


 /* MAIN SECTION */

 main .ourWorks{
    padding: 7.5em 8em;
    background-color: var(--color-b);
 }

 main .title h2{
    font-size: 3em;
    font-weight: 600;
    color:var(--color-a);
 }

 main .image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
 }

 main .image h2{
    color: var(--color-a);
    font-size: 1.5em;
    font-weight:400;
    margin-top: 1.5em;
 }

 .service img{
    margin-bottom:1em;
 }


 /* CORE SERVICES */
 
main .coreServices{
    padding: 5em 8em;
}

.serviceTitle{
    color: var(--color-a);
}

 main .serviceInfo .card{
    display: flex;
    justify-content:space-between;
    margin-top: 2em;
    height: 100%;
 }

 main .service{
    padding: 1.5em;
    border: 1px solid var(--color-c);
 }

.service h2{
    font-size: 1.25em;
    color: #001D62;
    font-weight: 600;
    margin-top: 0.7em;
 }
  .service  p{
   font-size: 0.875em;
   color: #001D62;
   font-weight: 400;
   margin-top: 0.7em;
 }



/* ABOUT US */

.aboutUS .aboutContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutUS .aboutContent .info1{
    width: 70%;
}
.aboutUS  h2{
    color: #001D62;
}

.aboutUS  p{

    color: #001D62;

}

/* footer */
footer .contactUs{
    padding: 5em 8em;
    background-color: black;
}

footer .contactUs .conContainer{
    border-bottom:1px solid #475467;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contactUs .Info{
    width: 45%;
}

footer .contactUs h2{
    font-size: 2em;
    color: #9AA4B2;
}

footer .contactUs p{
    font-size: 1.5em;
    font-weight: 400;
    color: #9AA4B2;
    margin: 1em 0;
    line-height: 1.5em;
}

footer .copyRight{
    margin-top: 1em;
    font-size: 0.875em;
}